html, body{
	background: rgb(249,255,154);
	height: 100%;
	margin: 0%;
}
.topper{
	background: rgb(47,255,84);
	width: 100%;
	height: 10%;
	font-size: 30px;
}
.topper-text{
	color: rgb(0,21,144);
	font-family: sans-serif;
	text-align: center;
	font-style: italic;
}
.left-column{
	background: rgb(120,255,255);
	width: 20%;
	height: 100%;
}
.left-text{

}
.center{

}
.center-text{

}
.right-column{

}
.right-text{

}